/* Note: This file is no longer imported.
   Put the CSS in `ui/WrappedThemeProvider.tsx` instead.
*/

:root {
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
    font-family: var(--font-monospace);
    white-space: pre-wrap;
    word-wrap: break-word;
}

fieldset {
    display: unset;
    margin-inline: unset;
    margin: unset;
    padding-inline: unset;
    padding: unset;
    padding-block: unset;
    border: unset;
    min-inline-size: unset;

    width: 100%;
}